* text=auto
*.gd text eol=lf
*.gdshader text eol=lf
*.gdextension text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.godot text eol=lf
*.uid text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.png binary
*.jpg binary
*.ogg binary
*.wav binary
